@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.my-nav-items {
    margin: 0 auto !important; 
}

.nav-background{
    background: #ffffff !important;
}

.logoAndName{
    align-items: center;
    justify-content: space-between;
}

.nameTag{
    display: flex;
    justify-content: space-between;
}

.nameFP{
    color: #488ff6;
}